<mat-card class="lecture">
  <mat-card-title>{{ title }}</mat-card-title>
  <!-- <mat-card-subtitle></mat-card-subtitle> -->
  <mat-card-content>
    Free spots: {{ availableSpots }} {{ description }} <br />
    Starts at {{ getD(startDate) }} {{ getStartT(startDate) }} <br />
    Duration: {{ getTime(startDate, endDate) }} minutes
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="enroll()"
      [disabled]="availableSpots === 0 || disabled"
    >
      Enroll
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="availableSpots === 0 || disabled"
    >
      More
    </button>
  </mat-card-actions>
</mat-card>
