@import "../_shared/shared.scss";

#video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  margin: 3px;
}
