@import "../_shared/shared.scss";

#video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#buttons {
  position: absolute;
  right: 50%;
}

.button {
  margin: 3px;
}
