<mat-toolbar id="navbar" color="primary">
  <button mat-icon-button class="example-icon" (click)="openSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="sidenav" (click)="closeSidenav()" [ngClass]="open? 'sidenav__width' : ''">
    <button mat-icon-button id="close-button">
        <mat-icon>close</mat-icon>
    </button>
  </div>
  <span>Golearn</span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

    
