<div class="form-container">
  <form [formGroup]="loginForm" (submit)="onSubmit()">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput required formControlName="username">
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
          <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory.</span>
          <span *ngIf="loginForm.controls.password.errors.length">The password should be at least 6 characters long.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Sign in as a</mat-label>
        <mat-select formControlName="role">
          <mat-option value="student">Student</mat-option>
          <mat-option value="tutor">Tutor</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-error *ngIf="invalidForm">
      <span>Please fill in all the fields correctly!</span>
    </mat-error>
    <mat-error *ngIf="isLoginFailed">
      <span>Invalid username or password</span>
    </mat-error>
    <button mat-raised-button color="primary" type="submit">Sign in</button>
  </form>
</div>