<mat-spinner id="fetching" *ngIf="fetching"></mat-spinner>
<div id="lectures">
  <app-lecture
    *ngFor="let lecture of lectures"
    [id] = "lecture._id"
    [title]="lecture.title"
    [description]="lecture.description"
    [studentsEnrolled]="lecture.studentsEnrolled"
    [maxEnrollments]="lecture.maxEnrollments"
    [availableSpots]="lecture.availableSpots"
    [price]="lecture.price"
    [subjects]="lecture.subjects"
    [professorId]="lecture.professorId"
    [disabled]="lecture.disabled"
    [startDate]="lecture.startDate"
    [endDate]="lecture.endDate"
  ></app-lecture>
</div>
