<mat-spinner class="spinner" *ngIf="fetching"></mat-spinner>
<div class="search-container">
  <input id="search" type="text" size="50" [(ngModel)]="searchValue">
</div>
<div class="lectures">
  <app-lecture
    *ngFor="let lecture of lectures | lecture: searchValue"
    [id]="lecture._id"
    [title]="lecture.title"
    [description]="lecture.description"
    [studentsEnrolled]="lecture.studentsEnrolled"
    [maxEnrollments]="lecture.maxEnrollments"
    [availableSpots]="lecture.availableSpots"
    [price]="lecture.price"
    [subjects]="lecture.subjects"
    [professorId]="lecture.professorId"
    [disabled]="lecture.disabled"
    [startDate]="lecture.startDate"
    [endDate]="lecture.endDate"
  ></app-lecture>
</div>
