#search-bar {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
}

.spacer {
  flex: 1 1 auto;
}

#navbar {
  margin: 0px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #424c86;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  &__width {
    width: 250px;
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #373d35;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#close-button {
  position: absolute;
  top: 2%;
  right: 5%;
}

#profile:hover {
  color: white;
}
