<mat-card class="lecture">
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-content
    >Starts on {{ getD(startDate) }},
    {{ getStartT(startDate) }}</mat-card-content
  >
  <mat-card-actions>
    <button
      mat-raised-button
      color="warn"
      *ngIf="enrolled"
      (click)="onUnEnroll()"
    >
      Unenroll
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="enrolled"
      (click)="joinCall()"
    >
      Join
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="!enrolled"
      [disabled]="!enrolled"
    >
      Unenrolled
    </button>
  </mat-card-actions>
</mat-card>
