<form class="form-container" [formGroup]="createLectureForm" (submit)="onSubmit()">
    <mat-form-field class="form-field" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput required formControlName="name">
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label>Subject</mat-label>
        <input matInput required formControlName="subject">
    </mat-form-field>
    <mat-form-field  class="form-field" appearance="fill">
        <mat-label>Maximum number of attendees</mat-label>
        <input type="number" matInput required formControlName="maxAttendees">
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label>Choose date and time</mat-label>
        <input matInput type="datetime-local" formControlName="date">
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label>Duration in minutes</mat-label>
        <input matInput type="number" min="15" max="160" formControlName="time">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Create lecture</button>
</form>